/*
 * CSS hacks and small modification for my Sphinx website
 * :copyright: Copyright 2013-2016 Lilian Besson
 * :license: GPLv3, see LICENSE for details.
 */


/* Colors and text decoration.
 For example, :black:`text in black` or :blink:`text blinking` in rST. */

.black {
    color: black;
}

.gray {
    color: gray;
}

.grey {
    color: gray;
}

.silver {
    color: silver;
}

.white {
    color: white;
}

.maroon {
    color: maroon;
}

.red {
    color: red;
}

.magenta {
    color: magenta;
}

.fuchsia {
    color: fuchsia;
}

.pink {
    color: pink;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.lime {
    color: lime;
}

.green {
    color: green;
}

.olive {
    color: olive;
}

.teal {
    color: teal;
}

.cyan {
    color: cyan;
}

.aqua {
    color: aqua;
}

.blue {
    color: blue;
}

.navy {
    color: navy;
}

.purple {
    color: purple;
}

.huge {
    font-size: xx-large;
}

.big {
    font-size: x-large;
}

.small{
    font-size: small;
}

.tiny{
    font-size: smaller;
}


.large {
    font-size: large;
}

.larger {
    font-size: larger;
}

.x-large{
    font-size: x-large;
}

.xx-large{
    font-size: xx-large;
}

.small {
    font-size: small;
}

.smaller {
    font-size: smaller;
}

.x-small{
    font-size: x-small;
}

.xx-small{
    font-size: xx-small;
}

.x-large-bold{
    font-size: x-large;
    font-weight: bold;
}

