
:root{
    --fn_nav_height: 2.0rem
}

.extrabody-content{
    /* border: solid #00F 2px; */
    background-color: #EFEFEF;
    height: var(--fn_nav_height);
}


.wy-grid-for-nav {
    top: var(--fn_nav_height);
    height: calc(100% - var(--fn_nav_height));
    /* height: 90%; */
    overflow-y: auto;
    position: fixed;
}


.wy-nav-side {
    top: var(--fn_nav_height);
    z-index: 2;
}

.float-left {
    margin-left: 50px;  /* 左侧间距 */
    margin-right: 20px; /* 右侧间距 */
}

.float-right {
    margin-left: 20px;  /* 左侧间距 */
    margin-right: 50px; /* 右侧间距 */
}

.custom-center {
    margin-left: 240px;  /* 左侧间距 */
    margin-right: 20px; /* 右侧间距 */
    margin: 20px 20px 0px 240px;  /* 上右下左间距 */
}